<html>

<head>
    <title>Data Perusahaan</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <h1>Data Perusahaan</h1>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Label</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Company Code</td>
                <td><%= posts.company.company_code %></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Company Name</td>
                <td><%= posts.company.company %></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tax Number</td>
                <td><%= posts.company.tax_number %></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Register Number</td>
                <td><%= posts.company.register_number %></td>
            </tr>
            <tr>
                <td>5</td>
                <td>First Month</td>
                <td><%= posts.company.ledgerfirst_month %></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Ledger Year</td>
                <td><%= posts.company.ledgeryear %></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Last Month</td>
                <td><%= posts.company.ledgerlast_month %></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Ledget Audit</td>
                <td><%= posts.company.isledgeraudit %></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Description</td>
                <td><%= posts.company.description %></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Login Auth</td>
                <td><%= posts.company.employee_account %></td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="row">
        <div class="col-sm">
            Print On <%= posts.currentDate %>
        </div>
    </div>
</body>

</html>